﻿@model LoginFunctionality.Models.EmployeeViewModel

@{
    ViewData["Title"] = "CreateEmployee";
}

<html>
<body class="en">
    <div class="container">
        <input id="langTog" type="checkbox" class="check" onclick="Text()">
        <span class="ar"> عربى</span>
    </div>
</body>
</html>
<h1 id="formLabel">Create Employee</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label id="EmployeeName" asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="DateOfBirth" asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="Designation" asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="Salary" asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="AllowedLeaves" asp-for="AllowedLeaves" class="control-label"></label>
                <input asp-for="AllowedLeaves" class="form-control" />
                <span asp-validation-for="AllowedLeaves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <a href="~/js/Language.json"></a>*@
    <script>
        var formLabelAr, formLabelEn;
        $(document).ready(() => {
           
            $.getJSON("/js/Arabic.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelAr = res;
            });

            $.getJSON("/js/english.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelEn = res;
                console.log(formLabelEn);
            });
        });

        var label = document.getElementsByTagName('label')
        function Text() {
            var checkBox = document.getElementById("langTog");
            if (checkBox.checked == true) {
                for (var i = 0; i < label.length; i++) {
                    document.getElementById(label[i].id).innerText = formLabelAr.forms.createEmployeForm.ar[label[i].id];
                }
            }
            else if (checkBox.checked == false) {
                for (var i = 0; i < label.length; i++) {
                    document.getElementById(label[i].id).innerText = formLabelEn.forms.createEmployeForm.en[label[i].id];
                }
            }
        }
    </script>
}
