﻿@model LoginFunctionality.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input id="langTog" type="checkbox" class="check" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <div class="form-group">
                <label id="EmployeeName" asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="DateOfBirth" asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="Designation" asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="Salary" asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="AllowedLeaves" asp-for="AllowedLeaves" class="control-label"></label>
                <input asp-for="AllowedLeaves" class="form-control" />
                <span asp-validation-for="AllowedLeaves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


<!DOCTYPE html>
<head>
    <title>19. Using jQuery to retrieve JSON via AJAX</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="script19.js"></script>
</head>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        var formLabelAr, formLabelEn;
        $(document).ready(() => {
            $.getJSON("/js/Arabic.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelAr = res;
            });

            $.getJSON("/js/English.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelEn = res;
            });
        });

        $('#langTog').on('click', () => {
            if ($('#langTog').prop("checked") == true) {
                changeLabels(formLabelAr.forms.EditEmployeForm, true)
            }
            else if ($('#langTog').prop("checked") == false) {
                changeLabels(formLabelEn.forms.EditEmployeForm, false)
            }
        });

        function changeLabels(data, boolean) {
            if (boolean) {
                var label = document.querySelectorAll('label')
                for (var i = 0; i < label.length; i++) {
                     data.ar[label[i].id]
                }
            }
            else {
                var label = document.querySelectorAll('label')
                for (var i = 0; i < label.length; i++) {
                    data.en[label[i].id]
                }
            }
        }

    </script>
}
