﻿@model LoginFunctionality.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group form-check">
                <input id="langTog" type="checkbox" class="check">
                <span class="ar"> عربى</span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" id="EmailLabel" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" id="PasswordLabel" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        var formLabelAr, formLabelEn;
        $(document).ready(() => {
            $.getJSON("/js/Arabic.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelAr = res;
            });

            $.getJSON("/js/English.json", function (data) {
                returnData = data
            }).fail(function () {
                console.log("An error has occurred.");
            }).then(res => {
                formLabelEn = res;
            });
        });

        $('#langTog').on('click', () => {
                if ($('#langTog').prop("checked") == true)
                {
                    changeLabels(formLabelAr.forms.loginForm, true)
                }
                else if ($('#langTog').prop("checked") == false) {
                    changeLabels(formLabelEn.forms.loginForm, false)
                }
        });

        function changeLabels(data, boolean) {
            if (boolean) {
                $('label').each(function (i) {
                    $(this).html(data.ar[$(this).attr('id')])
                })
            }
                else {
                $('label').each(function (i) {
                    $(this).html(data.en[$(this).attr('id')])
                })
                }
            }
    </script>
}
