﻿@model LoginFunctionality.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 id="formLabelRegister">  Register</h1>

@*<h4>RegisterViewModel</h4>*@
<hr />
@*<button id="langTog" type="button" class="check">عربی</button>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div class="container">
                <input id="langTog" type="checkbox" class="check">
                <span class="ar"> عربى</span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label id="labelEmail" asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="labelPassword" asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="labelConfirmPassword" asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<html>
<head>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
</head>
<body class="en">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="jquery.MultiLanguage.min.js"></script>
</body>
</html>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@

<script>
    var formLabelAr, formLabelEn;
    $(document).ready(() => {
        $.getJSON("/js/Arabic.json", function (data) {
            returnData = data
        }).fail(function () {
            console.log("An error has occurred.");
        }).then(res => {
            formLabelAr = res;
        });

        $.getJSON("/js/english.json", function (data) {
            returnData = data
        }).fail(function () {
            console.log("An error has occurred.");
        }).then(res => {
            formLabelEn = res;
            console.log(formLabelEn);
        });
    });

    $('#langTog').on('click', e => {
        var arrayOfLabels = document.getElementsByTagName('label');
        if ($('#langTog').prop("checked") == true) {
            $('body').css('direction', 'rtl')
            $('body').css('text-align', 'right')
            for (var i = 0; i < arrayOfLabels.length; i++) {
                $("#" + arrayOfLabels[i].id).text(formLabelAr.forms.RegisterForm.ar[arrayOfLabels[i].id]);
            }
        }
        else if ($('#langTog').prop("checked") == false) {
            $('body').css('direction', 'ltr')
            $('body').css('text-align', 'left')
            for (var i = 0; i < arrayOfLabels.length; i++) {
                console.log(formLabelEn);
                $("#" + arrayOfLabels[i].id).text(formLabelEn.forms.RegisterForm.en[arrayOfLabels[i].id]);
            }
        }
    })

</script>
}
